<a href="https://colab.research.google.com/github/merdogan97/Python_Class_Work/blob/main/PyhtonRecap_Liste__03_01_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]
squares = []
for i in numbers:
  x = i**2
  squares.append(x)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10]
squares = []
for number in numbers:
  squares.append(number**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]
squares2 = []
squares2= [number**2 for number in numbers]
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
numbers = [1,2,3,4,5,6,7,8,9,10]
squares = []
for number in range(1, 11):
  squares.append(number**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Eşkenar üçgenlerin alanlarını hesaplayalım.

In [21]:
# area = (side**2)*(3**(1/2)))/4
areas_triangle = [((side**2)*(3**(1/2)))/4 for side in range(1, 11)]
print(areas_triangle)

[0.4330127018922193, 1.7320508075688772, 3.8971143170299736, 6.928203230275509, 10.825317547305483, 15.588457268119894, 21.217622392718745, 27.712812921102035, 35.074028853269766, 43.30127018922193]

Bir liste oluşturalım 100 sayılardan 3 bölünebilen çift sayılar olsun

In [24]:
numbers =[number for number in range(2, 101, 2) if number % 3 == 0]
print(numbers)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]



# Lİstede "O" ile başlayan isimleri çağıralım

In [29]:
names = ['Onur', 'Leyla', 'Lale', 'Osman', 'Jale', 'Orçun']

namesstartwithO = [name for name in names if name.startswith('O')]
print(namesstartwithO)

['Onur', 'Osman', 'Orçun']

In [31]:
list1 = [10,20,30]
list2 = [3,7,11,13]

newlist= []

for x in list1 :
  for y in list2:
    newlist.append(x*y)
print(newlist)

[30, 70, 110, 130, 60, 140, 220, 260, 90, 210, 330, 390]

In [32]:
list1 = [10,20,30]
list2 = [3,7,11,13]

newlist= [x*y for x in list1 for y in list2]
print(newlist)

[30, 70, 110, 130, 60, 140, 220, 260, 90, 210, 330, 390]

In [34]:
# 200 ten büyük ifadeleri görmek istemiyorsak 
list1 = [10,20,30]
list2 = [3,7,11,13]

newlist= [x*y for x in list1 for y in list2 if x*y <= 200]
print(newlist)

[30, 70, 110, 130, 60, 140, 90]

In [38]:
# 120 listede varmı? 
list1 = [10,20,30]
list2 = [3,7,11,13]

if 130 in  [x*y for x in list1 for y in list2 if x*y <= 200]:
  print("130 is in the list")

130 is in the list

In [39]:
coordinates = [5,3,3]
multiply = coordinates[0]* coordinates[1]* coordinates[2]
print(multiply)

45

In [40]:
coordinates = [5,3,3]
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]
multiply = x* y* z
print(multiply)

45

In [41]:
coordinates = [5,3,3]     
coordinates = x,y,z  #unpacking
multiply = x*y*z
print(multiply)

45

In [43]:
coordinates = [5,3,3,4,2,7]     
coordinates[0:3] = x,y,z  #unpacking
multiply = x*y*z
print(multiply)

45

kullanıcıdN EN Az 10 adet tamsayı almamızı ve mükerrrer olanları silmemmizi istiyorum.

In [48]:
numbers = []
uniques = []

ndex = 1   # ilk girileni 1 olrk tanımladım
while True:  # ne kadar dönceğimi bilmediğim için while ile yaparım..
  number = input(f"Enter an integer number({index}): ")
  if number == "" and index > 10:
    break
  elif number == "":
    continue
  numbers.append(int(number))
  if int(number) not in uniques:
    uniques.append(int(number))
  index += 1
print(numbers)
print(uniques)

Enter an integer number(18): 1
Enter an integer number(19): 3
Enter an integer number(20): 4
Enter an integer number(21): 5
Enter an integer number(22): 6
Enter an integer number(23): 4
Enter an integer number(24): 7
Enter an integer number(25): 8
Enter an integer number(26): 6
Enter an integer number(27): 8
Enter an integer number(28): 9
Enter an integer number(29): 1
Enter an integer number(30): 3
Enter an integer number(31): 4
Enter an integer number(32): 5
Enter an integer number(33):
[1, 3, 4, 5, 6, 4, 7, 8, 6, 8, 9, 1, 3, 4, 5]
[1, 3, 4, 5, 6, 7, 8, 9]

**Kullanıcıdan en az 5 farklo isim girmesini  ve eğer girdiği isim daha önce girilmişse hata vermeaisini girilmemişse listeyye eklenmesini istiyorum. program çıkışınd OLUŞAN listwyi termimnale bastırsın.**