<a href="https://colab.research.google.com/github/merdogan97/Python_Class_Work/blob/main/Python_Recap2_String_Methods_28_12_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Converts the elements of an iterable into a string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

capitalize()

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [ ]:
y = "erdoğan"
z = y.capitalize()
print(z)

Erdoğan

In [ ]:
y = "murat"
y.capitalize()

'Murat'

In [ ]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

casefold()  : Make the string lower case

In [ ]:
txt = "HELLO WELLCOME TO WORLD!!"

x = txt.casefold()

print(x)

hello wellcome to world!!

In [ ]:
a = "HELLO WORLD!"
a.lower()

'hello world!'

In [ ]:
txt = "HELLO WELLCOME TO WORLD!!"

txt.casefold()

'hello wellcome to world!!'

center()  :  The center() method will center align the string, using a specified character (space is default) as the fill character.

In [ ]:
txt = "banana"
x = txt.center(50)
print(x)

                      banana

In [ ]:
txt = "banana"
x = txt.center(60, "*")
print(x)

***************************banana***************************

In [ ]:
txt = "Clarusway"
x = txt.center(100, "=")
print(x)

=============================================Clarusway==============================================

count()  : string.count(value, start, end)          The count() method returns the number of times a specified value appears in the string.

In [ ]:
a = "bugün herkes ankaraya otobüsle gidecek"
a.count("a")

4

In [ ]:
a.count("e")

5

In [ ]:
a.count("e", 2, 10)

1

In [ ]:
a.count("o", 20, 30)

2

In [ ]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

endswith() :  string.endswith(value, start, end)                             

The endswith() method returns True if the string ends with the specified value, otherwise False.

In [ ]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.")
print(x)

True

In [ ]:
a = "clarusway"
a.endswith("ay")

True

In [ ]:
x = "123456789"
x.endswith("9")

True

In [ ]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

False

startwith()  : string.startswith(value, start, end)
The startswith() method returns True if the string starts with the specified value, otherwise False.

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

In [ ]:
a = "clarusway"
a.startswith("c")

True

expandtabs() : string.expandtabs(tabsize)

The expandtabs() method sets the tab size to the specified number of whitespaces.
tabsize	Optional. A number specifying the tabsize. Default tabsize is 8

In [ ]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [ ]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [ ]:
txt = "Mu\trat"
print(txt)

Mu	rat

In [ ]:
txt = "Mu\nrat"
print(txt)

Mu
rat

find() : string.find(value, start, end)

The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)

In [ ]:
find()

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("w")
print(x)

7

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

In [ ]:
txt = "Hello, welcome to my world."
print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: ignored

In [ ]:
print("ali", "ayşe", end=" ***")

ali ayşe ***

In [ ]:
print("ali", "ayşe", sep="***")

ali***ayşe

format() 
string.format(value1, value2...)

The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The format() method returns the formatted string.

In [ ]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {1}, I'm {0}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is 36, I'm John
My name is John, I'm 36

:<		Left aligns the result (within the available space)
:>		Right aligns the result (within the available space)
:^		Center aligns the result (within the available space)
:=		Places the sign to the left most position
:+		Use a plus sign to indicate if the result is positive or negative
:-		Use a minus sign for negative values only
: 		Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)
:,		Use a comma as a thousand separator
:_		Use a underscore as a thousand separator
:b		Binary format
:c		Converts the value into the corresponding unicode character
:d		Decimal format
:e		Scientific format, with a lower case e
:E		Scientific format, with an upper case E
:f		Fix point number format
:F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)
:g		General format
:G		General format (using a upper case E for scientific notations)
:o		Octal format
:x		Hex format, lower case
:X		Hex format, upper case
:n		Number format
:%		Percentage format

index()     string.index(value, start, end)

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)

In [ ]:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [ ]:
txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
print(x)

8

In [ ]:
txt = "Hello, welcome to my world."

print(txt.find("q"))  # If the value is not found, the find() method returns -1, but the index() method will raise an exception:
print(txt.index("q"))

-1

ValueError: ignored

string.isalnum()
The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

In [ ]:
txt = "Company12"
x = txt.isalnum()
print(x)

True

In [ ]:
txt = "Company 12"

x = txt.isalnum()

print(x)

False

isalpha()           
string.isalpha()

The isalpha() method returns True if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

In [ ]:
txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [ ]:
txt = "Company10"
x = txt.isalpha()
print(x)

False

isascii() 
string.isascii()

The isascii() method returns True if all the characters are ascii characters  (a-z).

In [ ]:
txt = "Company123"
x = txt.isascii()
print(x)

True

isdecimal()
The isdecimal() method returns True if all the characters are decimals (0-9).

This method is used on unicode objects.

In [ ]:
txt = "\u0033" #unicode for 3
x = txt.isdecimal()
print(x)

True

In [ ]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

isdigit()
string.isdigit()

The isdigit() method returns True if all the characters are digits, otherwise False.

Exponents, like ², are also considered to be a digit.

In [ ]:
txt = "50800"
x = txt.isdigit()   # digit: tamsayı
print(x)

True

In [ ]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

isidentifier()
string.isidentifier()

The isidentifier() method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [ ]:
txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [ ]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

istitle()  
string.istitle()
The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [ ]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [ ]:
a = "Murat"
b = "murat"
c = "MURAT"
print(a.istitle())
print(b.istitle())
print(c.istitle())

True
False
False

The isupper() method returns True if all the characters are in upper case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

In [ ]:
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

True

In [ ]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [ ]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

The join() method takes all items in an iterable and joins them into one string.
string.join(iterable)

A string must be specified as the separator.

In [ ]:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [ ]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)    # Note: When using a dictionary as an iterable, the returned values are the keys, not the values.

nameTESTcountry

The replace() method replaces a specified phrase with another specified phrase.

string.replace(oldvalue, newvalue, count)

Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [ ]:
txt = "I like bananas"
x = txt.replace("a", "u")
print(x)

I like bununus

In [ ]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2)
print(x)

three three was a race horse, two two was one too.

In [ ]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("o", "i", 9)
print(x)

ine ine was a race hirse, twi twi was ine tii.

partition()
Search for the word "bananas", and return a tuple with three elements:

1 - everything before the "match"

2 - the "match"

3 - everything after the "match"

In [ ]:
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
txt = "0123456789"
x = txt.partition("5")
print(x)

('01234', '5', '6789')

In [ ]:
txt = "I could eat bananas all day"
x = txt.partition("apples")
print(x)  # If the specified value is not found, the partition() method returns a tuple containing:
            # 1 - the whole string, 2 - an empty string, 3 - an empty string

('I could eat bananas all day', '', '')

The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

Note: When maxsplit is specified, the list will contain the specified number of elements plus one

string.split(separator, maxsplit)

In [ ]:
txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
txt = "erdogan"
x = txt.split()
print(x)

['erdogan']

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [ ]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In [ ]:
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

hELLO mY nAME iS peter

The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

In [ ]:
txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

In [ ]:
txt = "Welcome to my 2nd world"
x = txt.title()
print(x)

Welcome To My 2Nd World

In [ ]:
txt = "hello b2b2b2 and 3g3g3g"
x = txt.title()
print(x) # Note that the first letter after a non-alphabet letter is converted into a upper case letter:

Hello B2B2B2 And 3G3G3G

ljust()

string.ljust(length, character)

Length	Required. The length of the returned string
character	Optional. A character to fill the missing space (to the right of the string). Default is " " (space).

In [ ]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
txt = "banana"
x = txt.ljust(20, "O")
print(x)

bananaOOOOOOOOOOOOOO

In [ ]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050