<a href="https://colab.research.google.com/github/merdogan97/Python_Class_Work/blob/main/PythonRecap_Sets_29_12_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Set**
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

# Set items are **unordered, unchangeable, and do not allow duplicate values.**

In [ ]:
Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

# Get the Length of a Set

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(len(thisset))

3

# **Set Items - Data Types**
Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

# A set can contain different data types:

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# The set() Constructor
It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

Python Collections (Arrays)

There are four collection data types in the Python programming language:

List ==> ordered **kalın metin ** changeable. ** Allows *duplicate *members. **OCD

Tuple==>** ordered ** ** unchangeable. Allows *duplicate *members. **OUCD

Set==> unordered ** *unchangeable *unindexed. **No duplicate members.UOUCND kalın metin

Dict==> ** ordered ** changeable ** . **No duplicate members. OCND kalın metin

# **Access Items**
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [32]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [31]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# **Change Items**
Once a set is created, you cannot change its items, but you can add new items.

# **Add Items**
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [30]:
x = {"ali", "veli","deli"}
x.add("ayşe")
print(x)

{'ayşe', 'ali', 'deli', 'veli'}

# **Add Any Iterable**
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [33]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'kiwi', 'cherry', 'banana'}

# **Remove Item**
To remove an item in a set, use the remove(), or the discard() method.

In [34]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

# **Remove "banana" by using the discard() method:**

In [35]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

We can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [1]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()

print(x)
print(thisset)

cherry
{'banana', 'apple'}

# **The clear() method empties the set:**

In [2]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

# **The del keyword will delete the set completely:**

In [3]:
thisset = {"apple", "banana", "cherry"}
del thisset     # name 'thisset' is not defined (silindiği için error verir)
print(thisset)

NameError: ignored

# **Loop Items**
You can loop through the set items by using a for loop:

In [4]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

# **Join Two Sets**
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

# **The union() method returns a new set with all items from both sets:**

In [7]:
set1 = {"a", "b" , "c", "b", "a"}
set2 = {1, 2, 3, 2, 4, 1}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 4, 'a', 'c'}

# **The update() method inserts the items in set2 into set1**

In [6]:
set1 = {"a", "b" , "c", "b", "a"}
set2 = {1, 2, 3, 2, 4, 1}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'a', 'c'}

# **Keep ONLY the Duplicates**
The intersection_update() method will keep only the items that are present in both sets

In [9]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple", "cherry"}

x.intersection_update(y)

print(x)

{'cherry', 'apple'}

# **The intersection()** method will return a new set, that only contains the items that are present in both sets.

In [10]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple", "banana"}

z = x.intersection(y)
print(z)

{'banana', 'apple'}

# **Keep All, But NOT the Duplicates**
The **symmetric_difference_update()** method will keep only the elements that are NOT present in both sets.

In [11]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'cherry', 'microsoft', 'google', 'banana'}

In [12]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'microsoft', 'google', 'banana'}

In [ ]:
Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [14]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [15]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) # x 'te olup y 'de olmayanlar
print(z)

{'cherry', 'banana'}

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)
print(x)

{'cherry', 'banana'}

The difference_update() method removes the items that exist in both sets.

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.