<a href="https://colab.research.google.com/github/merdogan97/Python_Class_Work/blob/main/python_Recap1_27_12_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:     # IndentationError: expected an indented block
print("Five is greater than two!")

IndentationError: ignored

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
 print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
if 5 > 2:         
 print("Five is greater than two!")
    print("Five is greater than two!")   # we have to use the same number of spaces in the same block of code

IndentationError: ignored

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)      # en son değeri döndürür. It overwrites old one.

Sally

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x, y, z)
print(x)
print(y)
print(z)

3 3 3.0
3
3
3.0

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = "John"
# is the same as
x = 'John'

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)
print(x, y, z)

10
20
30
10 20 30

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
print(x, y, z)

Orange
Orange
Orange
Orange Orange Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)
print(fruits)

apple
banana
cherry
['apple', 'banana', 'cherry']

In [ ]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = 5
y = "John"
print(x + y)      # unsupported operand type(s) for +: 'int' and 'str'

TypeError: ignored

In [ ]:
x = "awesome"     # Global variable

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [ ]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))
print(type(x))

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
####### Type Conversion  ############################3

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random

print(random.randrange(1, 10))

8

In [ ]:
import random

print(random.randrange(1, 100))

30

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x,y,z,w)
print(x)
print(y)
print(z)
print(w)

1.0 2.8 3.0 4.2
1.0
2.8
3.0
4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

In [ ]:
a = "Hello, World!"
print(a[1])
print(a[4])

e
o

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for z in "erdogan":
  print(z)

e
r
d
o
g
a
n

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
x = "muraterdogan"
print(len(x))

12

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
a = "erdogan"
print(a in a)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[:6])

Hello,

In [ ]:
b = "Hello, World!"
print(b[::])

Hello, World!

In [ ]:
b = "Hello, World!"
print(b[::2])

Hlo ol!

In [ ]:
b = "Hello, World!"
print(b[::-1])

!dlroW ,olleH

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
b = "Hello, World!"
b[-5:-2]

'orl'

In [ ]:
a = "Hello, World!"
a.upper()

'HELLO, WORLD!'

In [ ]:
a = "HELLO WORLD!"
print(a.lower())

hello world!

In [ ]:
# The strip() method removes any whitespace from the beginning or the enda = " Hello, World! "
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
a = "Hello, World! "
print(a.strip())

Hello, World!

In [ ]:
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
a = "ankaraya yarın gidecekler"
print(a.replace("a", "o"))

onkoroyo yorın gidecekler

In [ ]:
# The split() method returns a list where the text between the specified separator becomes the list items.
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
a = "Hello; World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello; World!']

String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
print(a + b)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
print(a,"", b)

Hello  World

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
# we cannot combine strings and numbers like this
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {}

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [ ]:
a = "06:00"
b = "okul"
c = 6 
x = "Ahmet bugün saat {}'da evden ayrıldı ve {}a gitti ve menavdan {} kg. elma satın aldı"
print(x.format(a,b,c))

Ahmet bugün saat 06:00'da evden ayrıldı ve okula gitti ve menavdan 6 kg. elma satın aldı

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [ ]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

we can also use named indexes by entering a name inside the curly brackets {carname}, but then you must use names when you pass the parameter values txt.format(carname = "Ford"):

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [ ]:
# txt = "We are the so-called "Vikings" from the north."
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

 \'	  Single Quote	
\\	  Backslash	
\n	  New Line	
\r	  Carriage Return	
\t	  Tab	
\b	  Backspace	
\f	  Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [ ]:
txt = "Mu\nrat"
print(txt)

Mu
rat

In [ ]:
txt = "Ben arkadaşlarımla beraber Mu\rrat'lara gittim."  # önceki tüm harflari yer
print(txt)

rat'lara gittim.

In [ ]:
txt = "Ben arkadaşlarımla\n beraber Murat'lara gittim."
print(txt)

Ben arkadaşlarımla
 beraber Murat'lara gittim.

In [ ]:
txt = "Ben arkadaşlarımla\b beraber Murat'lara gittim."   # sadece 1 harf yer
print(txt)

Ben arkadaşlarımla beraber Murat'lara gittim.

In [ ]:
txt = "Ben arkadaşlarımla\' beraber Murat'lara gittim."   # ' quate koyar..
print(txt)

Ben arkadaşlarımla' beraber Murat'lara gittim.

In [ ]:
txt = "Ben arkadaşlarımla\ beraber Murat'lara gittim."   # ????
print(txt)

Ben arkadaşlarımla\ beraber Murat'lara gittim.

In [ ]:
txt = "Ben arkadaşlarımla\f beraber Murat'lara gittim."   # ???
print(txt)

Ben arkadaşlarımla beraber Murat'lara gittim.

In [ ]:
a = "we are \boasting our \brotherhood"
print(a)

we are oasting our rotherhood