<a href="https://colab.research.google.com/github/merdogan97/Python_Class_Work/blob/main/PythonRecap_If_Else_While_31_12_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Equals: a == b

Not Equals: a != b

Less than: a < b

Greater than: a > b

Greater than or equal to: a >= b

Less than or equal to: a <= b

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [69]:
x = int(input("Bir sayı giriniz:"))
r = x % 2
if r == 0:
  print("Even number")
else:                   # if r == 1:
  print("Odd number")

Bir sayı giriniz:10
Even number

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

# **While Loops**

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1    # Note: remember to increment i, or else the loop will continue forever.

1
2
3
4
5

# The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

# With the break statement we can stop the loop even if the while condition is true:**

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

With the continue statement we can stop the current iteration, and continue with the **next**

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:    # Continue to the next iteration if i is 3
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# **A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).**

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana": print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue      # Do not print banana:
  print(x)

apple
cherry

# **To loop through a set of code a specified number of times, we can use the range() function,**
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
  pass