<a href="https://colab.research.google.com/github/merdogan97/Python_Class_Work/blob/main/PythonRecap_Tuples_28_12_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Tuples**
mytuple = ("apple", "banana", "cherry")
uples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.
# **Tuple items are ordered, unchangeable, and allow duplicate values.**

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Tuple Length

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

To create a tuple with only one item, **you have to add a comma** after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [ ]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# A tuple can contain different data types:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

There are four collection data types in the Python programming language:

List ==> ordered **kalın metin ** changeable. ** Allows *duplicate *members. **OCD

Tuple==>** ordered ** ** unchangeable. Allows *duplicate *members. **OUCD

Set==> unordered ** *unchangeable *unindexed. **No duplicate members.UOUCND kalın metin

Dict==> ** ordered ** changeable ** . **No duplicate members. OCND kalın metin

You can access tuple items by referring to the index number, inside square **brackets**

In [8]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

# **Range of Indexes**
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [10]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [14]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## **NOTE :**
Tuples are **unchangeable**, meaning that you cannot **`change, add, or remove `** items once the tuple is created.

But there are some workarounds.

# Convert the tuple into a list to be able to change it:

In [16]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# **Add Items**
Since tuples are **immutable**, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [17]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# ***2. Add tuple to a tuple. ***
You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple**

In [18]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# **Remove Items**
**Note: You cannot remove items in a tuple.**

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

# **Or you can delete the tuple completely:**

In [19]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

# **Unpacking a Tuple**
When we create a tuple, we normally assign values to it. This is called **"packing"** a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [20]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

# Using Asterisk * 
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

In [21]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [22]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# **Loop Through a Tuple**
You can loop through the tuple items by using a for loop.

In [23]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [24]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

# **Using a While Loop**
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [25]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# **Join Two Tuples**
To join two or more tuples you can use the + operator:

In [26]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# **Multiply Tuples**
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [27]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# **Tuple Methods**
Python has two built-in methods that you can use on tuples.

    Method	   Description

**count() **	Returns the number of times a specified value occurs in a tuple

**index()	** Searches the tuple for a specified value and returns the position of where it was found

The count() method returns the number of times a specified value appears in the tuple.

In [28]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

In [31]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3