<a href="https://colab.research.google.com/github/merdogan97/Python_Class_Work/blob/main/Python11_04.11.21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if "0" : # dolu string True'dur
  print("hello world")
print("print me all cases.")

hello world
print me all cases.

In [ ]:
bool("0")

True

In [ ]:
if "0" and ""  # boş string falsy dir print etmez. True and False    ise false tur  İf True ile çalışır.
    print("hello world")

SyntaxError: ignored

In [ ]:
if True :
  print("It is True.")

It is True.

In [ ]:
if 1 :
  print("clarusway")

clarusway

In [ ]:
if [""] :  # listenin içinde boş tırnak doludur.
  print("hello")

hello

In [ ]:
İf grocery_store = 1 :
   if greens = lettuce and pepper :

In [ ]:
minced = True
bread = True
lettuce = True
onion = True
grocery = True
hamburger = (minced and grocer and bread) and (lettuce or onion)

In [ ]:
hamburger

NameError: ignored

In [ ]:
if hamburger :
  print("Bon Appetit")

In [ ]:
3 > 2

True

In [ ]:
3 >= 3.0

True

In [ ]:
"ali" == "Ali"  # case sensitive

False

In [ ]:
"ali" != "Ali"

True

In [ ]:
a = set ("TWELVE PLUS ONE")
b = set ("ELEVEN PLUS TWO")
if a == b :
  print("We are the same")

We are the same

In [ ]:
user1 = "Yes"
user2 = "No"
input "Yes" = 1, "No" = 0
 if user1 == user2
   print("you entered True")

In [ ]:
type(input("bir şey yaz:"))  # ekrana yazılan şeyi string olarak döndüürüyor

In [ ]:
Number = int(input("sayıyı giriniz: "))
if (Number % 2) == 0 :
    print("Number is positif")
else :
    print("Number is negatif")

sayıyı giriniz: -11
Number is negatif

In [ ]:
Number = float(input("Enter positive or negatif number: "))
if Number > 0 :
    print("Number is even")
else :
    print("Number is odd")

Enter positive or negatif number: 11
Number is even

In [ ]:
float("-33")

-33.0

In [ ]:
Number = int(input("Bir sayı girin: "))
a = "Number1"
b = "Number2"
if Number1 > Number2 :
 print("The large Number is ")

Bir sayı girin: 4

NameError: ignored

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter first number: "))
if num1 >num2 :
  larger = num1
else :larger = num2
print("the larger number is", larger)

Enter first number: 4
Enter first number: 6
the larger number is 6.0

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter first number: "))
if num1 >num2 :
  larger = num1
else :larger = num2
print("the larger number is", larger)

Enter first number: 6
Enter first number: 3
the larger number is 6

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter first number: "))
if num1 > num2 :
  print("the larger number is", num1)
else :
  print("the larger number is", num2)

Enter first number: 2
Enter first number: 9
the larger number is 9.0